!!!
html
  head
    title= title
  body
    | !{body}
    script(type='text/javascript', src='/js/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/underscore-min.js')
    script(type='text/javascript', src='/js/backbone-min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/{{application_name}}.css')
